POSTGRES_DB=invoicemind
POSTGRES_USER=invoicemind
POSTGRES_PASSWORD=invoicemind
POSTGRES_PORT=5432

REDIS_PORT=6379

KAFKA_BROKER_PORT=9092
KAFKA_CONTROLLER_PORT=9093

BACKEND_PORT=8080
FRONTEND_PORT=3000

JWT_SECRET=change_me_for_production_minimum_32_chars_123
JWT_EXPIRATION_SECONDS=3600

NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api/v1
